<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.itesm.Team4.nombre_proyecto.MicaServices">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MicaServices">
        <activity
            android:name=".views.Detallescuenta"
            android:exported="true" />
        <activity
            android:name=".views.Pagar"
            android:exported="true" />
        <activity
            android:name=".views.contactar"
            android:exported="true" />
        <activity
            android:name=".RegistrarActivity"
            android:exported="true" />
        <activity
            android:name=".views.P2ServiciosActivity"
            android:exported="true" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>